<div class="container">
  <h1>Add a playground</h1>
    <div class="form">

    <%= simple_form_for @playground do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :name,
                  class: "form-control form-text text-muted"%>
      <%= f.input :address,
                  class: "form-control form-text text-muted" %>
      <%= f.input :city,
                  class: "form-control form-text text-muted"%>
      <%= f.input :rims_number,
                  class: "form-control form-text text-muted" %>
      <%= f.input :playground_picture,
                  class: "form-control form-text text-muted" %>

      <%= f.button :submit, class: "btn btn-primary"  %>
    <% end %>
    </div>
    <hr>
    <%= link_to 'Back', playgrounds_path %>
</div>


