<div class="playground-title">
  <%= @playground.name %> -
  <%= @playground.address %>
</div>

<div class="playground-join">

  <div class="date-form">
    <span>Join the playground</span>
    <%= simple_form_for [@playground, @participation] do |f| %>
      <%= f.error_notification %>
      <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>
      <%= f.input :start_date,
                  class: "form-control form-text text-muted",
                  as: :date,
                  html5: true,
                  input_html: {id: "playground-date"} %>
      <%= f.input :end_date,
                  class: "form-control form-text text-muted",
                  as: :date,
                  html5: true,
                  input_html: {id: "playground-date"}  %>
      <%= f.button :submit, class: "btn btn-primary"  %>
    <% end %>
  </div>

  <div class="playground-players">
    <span>They already play!</span>
    <div class="col">
      <div class="messagebox">
        <% if @participations.present? %>
          <% @participations.each do |participation| %>
            <ul class="list-inline">
              <li class="list-inline-item"><%= participation.user.nickname  %></li>
              <li class="list-inline-item">Start on :<%= participation.start_date.strftime('%m/%d/%Y %H:%M:%S')  %></li>
              <li class="list-inline-item">End on :<%= participation.end_date.strftime('%m/%d/%Y %H:%M:%S')  %></li>
              <li class="list-inline-item"><%= participation.status  %></li>
            </ul>
          <% end %>

        <% else %>
            <p>No participants yet</p>
        <% end %>
      </div>
    </div>
  </div>

</div>





